<?xml version="1.0"?>
<robot name="mars_environment">

    <!-- Base Link -->
    <link name="sim_world" />

    <!-- Desert Link -->
    <link name="desert">
        <visual>
            <geometry>
                <mesh filename="https://raw.githubusercontent.com/WATonomous/wato_rover/master/src/gazebo/launch/mars.stl" scale="0.1 0.1 0.1"/>
            </geometry>
            <material name="beige_brown">
                <color rgba="0.76 0.60 0.42 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="https://raw.githubusercontent.com/WATonomous/wato_rover/master/src/gazebo/launch/mars.stl" scale="0.1 0.1 0.1"/>
            </geometry>
        </collision>
    </link>

    <joint name="desert_joint" type="fixed">
        <parent link="sim_world"/>
        <child link="desert"/>
        <origin xyz="0 0 0" rpy="1.5708 3.1416 0"/>
    </joint>

    <!-- Water Bottle Link -->
    <link name="water_bottle">
        <visual>
            <geometry>
                <mesh filename="https://raw.githubusercontent.com/WATonomous/wato_rover/master/src/gazebo/launch/water_bottle.stl" scale="0.4 0.4 0.4"/>
            </geometry>
            <material name="water_blue">
                <color rgba="0.68 0.85 0.90 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="https://raw.githubusercontent.com/WATonomous/wato_rover/master/src/gazebo/launch/water_bottle.stl" scale="0.4 0.4 0.4"/>
            </geometry>
        </collision>
    </link>

    <joint name="water_bottle_joint" type="fixed">
        <parent link="desert"/>
        <child link="water_bottle"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- Mallet Link -->
    <link name="mallet">
        <visual>
            <geometry>
                <mesh filename="https://raw.githubusercontent.com/WATonomous/wato_rover/master/src/gazebo/launch/mallet.stl" scale="0.4 0.4 0.4"/>
            </geometry>
            <material name="orange">
                <color rgba="1 0.4 0.0 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="https://raw.githubusercontent.com/WATonomous/wato_rover/master/src/gazebo/launch/mallet.stl" scale="0.4 0.4 0.4"/>
            </geometry>
        </collision>
    </link>

    <joint name="mallet_joint" type="fixed">
        <parent link="desert"/>
        <child link="mallet"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- Pick Link -->
    <link name="pick">
        <visual>
            <geometry>
                <mesh filename="./pick.stl" scale="0.004 0.004 0.004"/>
            </geometry>
            <material>
                <ambient>0.5 0.5 0.5 1</ambient>
                <diffuse>0.75 0.75 0.75 1</diffuse>
                <specular>0.9 0.9 0.9 1</specular>
                 <emissive>0 0 0 1</emissive>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="./pick.stl" scale="0.004 0.004 0.004"/>
            </geometry>
        </collision>
    </link>

    <joint name="pick_joint" type="fixed">
        <parent link="desert"/>
        <child link="pick"/>
        <origin xyz="0 1.2 -2" rpy="0 0 0"/>
    </joint>

</robot>
